#control-panel {
  box-sizing: border-box;
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  min-width: 300px;
  min-height: 200px;
  box-shadow: 0 20px 40px 0 hsla(0, 0%, 0%, .2),
              0 10px 20px 0 hsla(0, 0%, 0%, .14),
              0 05px 10px 0 hsla(0, 0%, 0%, .12);
  border-radius: 1ex;
  display: grid;
  grid-template-columns: 1rem 1fr 1rem;
  place-items: center;
  background-color: white;
  padding: 1rem 0;
}

  #control-panel > * {
    box-sizing: inherit;
    grid-column: 2;
  }

  fieldset {
    width: 100%;
    margin-bottom: .5rem;
  }

  label {
    display: block;
  }

  input[type="radio"] {
    /* float: left; */
  }

.form__publications {}

  label {
    display: flex;
    align-items: center;
  }

  label input {
    margin-left: auto;
  }

  .form__publications label input {
    order: -1;
    margin-left: 0;
  }

  button {
    margin-left: auto;
    padding: 2px 12px;
    text-transform: uppercase;
    letter-spacing: .0375em;
    font-size: .75rem;
  }

  input[type="text"],
  inpiut[type="number"] {
    padding: 2px 4px;
  }
